[Unit]
Description=A minimalist service for streaming a webcam over HLS
After=network.online.target
Wants=network.online.target

[Service]
Type=simple
User=octoprint
Group=octoprint
ExecStart=/usr/bin/webcamd
ExecStop=killall -u octoprint webcamd

[Install]
WantedBy=multi-user.target
